In [ ]:
%%sh
sudo pip install spark
sudo pip install pyspark

# IMPORTS

In [ ]:


#Pandas, podemos transformar um dataframe do pandas em um dataframe do spark e o contrário também
import pandas as pd

#Importando o spark e o pyspark
import spark,pyspark

#Importando as bibliotecas do pyspark.sql 
from pyspark.sql import *

#Importando as funções sql do spark
#documentação https://spark.apache.org/docs/latest/api/sql/index.html
from pyspark.sql import functions as f

#Importando os tipos de dados do spark
#documentação https://spark.apache.org/docs/latest/sql-ref-datatypes.html
from pyspark.sql import types as t 

#Biblioteca datetime
from datetime import datetime, date,timedelta

# EXERCÍCIOS

## Criar um spark context com o app name = “AC4 DataEng”

In [ ]:
#Criando uma Sessão do Spark (Spark Session)
spark = SparkSession.builder.master("local").appName("AC4 DataEng").getOrCreate()
#spark.conf.set("spark.sql.sources.partitionOverwriteMode","dynamic")

## Criar um dataframe lendo o arquivo vendas.parquet

In [ ]:
# Criação do Dataframe Vendas, através do Spark
#df_vendas = spark.read.format("parquet").option("delimiter",";").option("header","true").load("/content/vendas.parquet")
df_vendas = spark.read.format("parquet").option("header","true").load("/content/vendas.parquet")

In [ ]:
df_vendas.show()

+-------------+----------+-------------+----------+---+---+----------+----+-----+------+----+----------------+--------------------+-----------+------------+-------------+-----------------+-----------------+
|      cod_ean|cod_pessoa|cod_transacao|      data|vlr|qtd|      nome| sms|email|classe|sexo|          cidade|         des_produto|des_familia|   des_secao|des_categoria|des_sub_categoria|__index_level_0__|
+-------------+----------+-------------+----------+---+---+----------+----+-----+------+----+----------------+--------------------+-----------+------------+-------------+-----------------+-----------------+
|7896901200013|      4644|      8064284|2020-10-26| 67|  3|NOME_a4644|true|false|  Ouro|   F|       São Paulo|                null|       null|        null|         null|             null|                0|
|7897001010014|      3578|      8067745|2020-10-26| 54|  7|NOME_o3578|true|false|  Ouro|   M|  Belo Horizonte|                null|       null|        null|         null|             null|                1|
|         8555|      6505|      8301911|2020-12-18|  6|  1|NOME_i6505|true|false|  Ouro|   F|  Rio de Janeiro|PAO DA CASA FRANC...| PERECIVEIS|PADARIA LOJA|PRODUCAO PAES|                 |                2|
|         2325|      3982|      8194983|2020-11-25| 22|  1|NOME_s3982|true| true|  Ouro|   F|São Bento do Sul|                null|       null|        null|         null|             null|                3|
|          666|      1195|      8109606|2020-11-05| 32|  1|NOME_a1195|true| true|  Ouro|   M|    Campo Alegre| ACEM BOVINO KG PECA| PERECIVEIS|     ACOUGUE| CARNE BOVINA|                 |                4|
|         3087|     36979|      8123367|2020-11-08| 64|  5|      null|null| null|  null|null|            null|                null|       null|        null|         null|             null|                5|
|7894900011517|     14173|      8027160|2020-10-17| 41|  6|NOME_14173|true|false|  Ouro|   F|  Rio de Janeiro|                null|       null|        null|         null|             null|                6|
|         3690|      3618|      8025931|2020-10-17|  3|  1|NOME_e3618|true| true|  Ouro|   F|          Manaus| TOMATE PIZZADORO KG| PERECIVEIS|       F L V|      LEGUMES|                 |                7|
|         5623|      4860|      8026361|2020-10-17|  3|  1|NOME_a4860|true|false|  Ouro|   F|          Manaus|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |                8|
|         5623|     23792|      8270907|2020-12-11|  6|  2|      null|null| null|  null|null|            null|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |                9|
|         9591|     42057|      8114968|2020-11-06|  6|  0|NOME_42057|true|false|  Ouro|   M|São Bento do Sul|   ALHO GRANEL T6 KG| PERECIVEIS|       F L V|         ALHO|                 |               10|
|         3690|     12539|      8174079|2020-11-20| 13|  4|NOME_12539|true| true|  Ouro|   F|          Recife| TOMATE PIZZADORO KG| PERECIVEIS|       F L V|      LEGUMES|                 |               11|
|7897001010014|     23881|      8188049|2020-11-23|  8|  1|NOME_23881|true|false|  Ouro|   F|          Manaus|                null|       null|        null|         null|             null|               12|
|         1663|     12539|      8232779|2020-12-03|  6|  1|NOME_12539|true| true|  Ouro|   F|          Recife|    BANANA NANICA KG| PERECIVEIS|       F L V|       FRUTAS|                 |               13|
|7896864400178|      1195|      7917141|2020-09-22| 35|  5|NOME_a1195|true| true|  Ouro|   M|    Campo Alegre|                null|       null|        null|         null|             null|               14|
|         1663|     14173|      7916639|2020-09-22|  7|  1|NOME_14173|true|false|  Ouro|   F|  Rio de Janeiro|    BANANA NANICA KG| PERECIVEIS|       F L V|       FRUTAS|                 |               15|
|         1663|      2274|      8036529|2020-10-19|  9|  3|NOME_e2274|true|false|  Ouro|   M|          Manaus|    BANANA NANICA KG| PERECIVEIS|       F L V|       FRUTAS|                 |               16|
|7897001010014|      1364|      8121027|2020-11-07| 15|  2|NOME_n1364|true| true|  Ouro|   F|          Manaus|                null|       null|        null|         null|             null|               17|
|         5623|     23792|      8136281|2020-11-11|  5|  1|      null|null| null|  null|null|            null|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |               18|
|         5623|      1324|      8308469|2020-12-19|  5|  1|NOME_r1324|true| true|  Ouro|   F|     Campo Largo|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |               19|
+-------------+----------+-------------+----------+---+---+----------+----+-----+------+----+----------------+--------------------+-----------+------------+-------------+-----------------+-----------------+
only showing top 20 rows

## Converter a coluna data para o tipo DateType

In [ ]:
#Convertendo uma coluna
df_vendas = df_vendas.withColumn("data",df_vendas.data.cast(t.DateType()))

## Criar as colunas: 
### A - ano = ano da coluna “data”.
### B - mes= mes da coluna “data”.
### C - dia= dia da coluna “data”.

In [ ]:
df_vendas = df_vendas.withColumn("Ano",f.year("data"))
df_vendas = df_vendas.withColumn("Mes",f.month("data"))
df_vendas = df_vendas.withColumn("Dia",f.dayofmonth("data"))

In [ ]:
df_vendas.show()

+-------------+----------+-------------+----------+---+---+----------+----+-----+------+----+----------------+--------------------+-----------+------------+-------------+-----------------+-----------------+----+---+---+
|      cod_ean|cod_pessoa|cod_transacao|      data|vlr|qtd|      nome| sms|email|classe|sexo|          cidade|         des_produto|des_familia|   des_secao|des_categoria|des_sub_categoria|__index_level_0__| Ano|Mes|Dia|
+-------------+----------+-------------+----------+---+---+----------+----+-----+------+----+----------------+--------------------+-----------+------------+-------------+-----------------+-----------------+----+---+---+
|7896901200013|      4644|      8064284|2020-10-26| 67|  3|NOME_a4644|true|false|  Ouro|   F|       São Paulo|                null|       null|        null|         null|             null|                0|2020| 10| 26|
|7897001010014|      3578|      8067745|2020-10-26| 54|  7|NOME_o3578|true|false|  Ouro|   M|  Belo Horizonte|                null|       null|        null|         null|             null|                1|2020| 10| 26|
|         8555|      6505|      8301911|2020-12-18|  6|  1|NOME_i6505|true|false|  Ouro|   F|  Rio de Janeiro|PAO DA CASA FRANC...| PERECIVEIS|PADARIA LOJA|PRODUCAO PAES|                 |                2|2020| 12| 18|
|         2325|      3982|      8194983|2020-11-25| 22|  1|NOME_s3982|true| true|  Ouro|   F|São Bento do Sul|                null|       null|        null|         null|             null|                3|2020| 11| 25|
|          666|      1195|      8109606|2020-11-05| 32|  1|NOME_a1195|true| true|  Ouro|   M|    Campo Alegre| ACEM BOVINO KG PECA| PERECIVEIS|     ACOUGUE| CARNE BOVINA|                 |                4|2020| 11|  5|
|         3087|     36979|      8123367|2020-11-08| 64|  5|      null|null| null|  null|null|            null|                null|       null|        null|         null|             null|                5|2020| 11|  8|
|7894900011517|     14173|      8027160|2020-10-17| 41|  6|NOME_14173|true|false|  Ouro|   F|  Rio de Janeiro|                null|       null|        null|         null|             null|                6|2020| 10| 17|
|         3690|      3618|      8025931|2020-10-17|  3|  1|NOME_e3618|true| true|  Ouro|   F|          Manaus| TOMATE PIZZADORO KG| PERECIVEIS|       F L V|      LEGUMES|                 |                7|2020| 10| 17|
|         5623|      4860|      8026361|2020-10-17|  3|  1|NOME_a4860|true|false|  Ouro|   F|          Manaus|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |                8|2020| 10| 17|
|         5623|     23792|      8270907|2020-12-11|  6|  2|      null|null| null|  null|null|            null|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |                9|2020| 12| 11|
|         9591|     42057|      8114968|2020-11-06|  6|  0|NOME_42057|true|false|  Ouro|   M|São Bento do Sul|   ALHO GRANEL T6 KG| PERECIVEIS|       F L V|         ALHO|                 |               10|2020| 11|  6|
|         3690|     12539|      8174079|2020-11-20| 13|  4|NOME_12539|true| true|  Ouro|   F|          Recife| TOMATE PIZZADORO KG| PERECIVEIS|       F L V|      LEGUMES|                 |               11|2020| 11| 20|
|7897001010014|     23881|      8188049|2020-11-23|  8|  1|NOME_23881|true|false|  Ouro|   F|          Manaus|                null|       null|        null|         null|             null|               12|2020| 11| 23|
|         1663|     12539|      8232779|2020-12-03|  6|  1|NOME_12539|true| true|  Ouro|   F|          Recife|    BANANA NANICA KG| PERECIVEIS|       F L V|       FRUTAS|                 |               13|2020| 12|  3|
|7896864400178|      1195|      7917141|2020-09-22| 35|  5|NOME_a1195|true| true|  Ouro|   M|    Campo Alegre|                null|       null|        null|         null|             null|               14|2020|  9| 22|
|         1663|     14173|      7916639|2020-09-22|  7|  1|NOME_14173|true|false|  Ouro|   F|  Rio de Janeiro|    BANANA NANICA KG| PERECIVEIS|       F L V|       FRUTAS|                 |               15|2020|  9| 22|
|         1663|      2274|      8036529|2020-10-19|  9|  3|NOME_e2274|true|false|  Ouro|   M|          Manaus|    BANANA NANICA KG| PERECIVEIS|       F L V|       FRUTAS|                 |               16|2020| 10| 19|
|7897001010014|      1364|      8121027|2020-11-07| 15|  2|NOME_n1364|true| true|  Ouro|   F|          Manaus|                null|       null|        null|         null|             null|               17|2020| 11|  7|
|         5623|     23792|      8136281|2020-11-11|  5|  1|      null|null| null|  null|null|            null|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |               18|2020| 11| 11|
|         5623|      1324|      8308469|2020-12-19|  5|  1|NOME_r1324|true| true|  Ouro|   F|     Campo Largo|  CEBOLA NACIONAL KG| PERECIVEIS|       F L V|       CEBOLA|                 |               19|2020| 12| 19|
+-------------+----------+-------------+----------+---+---+----------+----+-----+------+----+----------------+--------------------+-----------+------------+-------------+-----------------+-----------------+----+---+---+
only showing top 20 rows

## Na coluna sms, se caso o valor for null, troque por “False”

In [ ]:
# Trocando o valor 'Nulo' para 'False' e mantendo os outros valores

df_vendas = df_vendas.withColumn("sms",f.when(df_vendas.sms.isNull(),False).otherwise(df_vendas.sms))

## Crie uma coluna chamada “total” que deve ser a multiplicação das colunas “vlr” e “qtd”.

In [ ]:
# Nova coluna "total", multiplicação da quantidade e valor
df_vendas = df_vendas.withColumn("total",df_vendas.qtd * df_vendas.vlr)

## Grave o dataframe particionado por ano, mes e dia no formato “parquet” de nome “vendas_tratadas”

In [ ]:
# dataframe particionado por ano, mes e dia
df_vendas.write.partitionBy("Ano","Mes","Dia").parquet("/content/vendas_tratadas")

## Crie uma tabela temporaria chamada “vendas_table”

In [ ]:
# Criando a tabela temporária "vendas_table"
df_vendas.registerTempTable("vendas_table")

In [ ]:
# Visualizando dados da tabela temporária
spark.sql("select * from vendas_table").show()

## Crie um dataframe spark.sql utilizando a query spark.sql. Grave esse dataframe no formato “parquet” de nome  “cidade”.

In [ ]:
# Gravando dataframe "cidade"
df_cidade = spark.sql("select distinct cidade from vendas_table")
df_cidade.write.parquet("/content/cidade")

## Criar um dataframe com a soma do vlr, soma da qtd agrupado pela data. Gravar esse dataframe no formato “parquet” de nome “vendas_total”

In [ ]:
# Agrupamento de data somando o campo "vlr" e "qtd" e salvando arquivo parquet
vendas_total = df_vendas.groupBy("data").sum("vlr","qtd")
vendas_total = vendas_total.withColumnRenamed("sum(vlr)","soma_vlr")
vendas_total = vendas_total.withColumnRenamed("sum(qtd)","soma_qtd")
vendas_total.write.parquet("/content/vendas_total")

## Crie um novo dataframe chamado “produto” selecionando as colunas: “des_produto”,”des_familia”, “des_secao”, “des_categoria”,”des_sub_categoria”. Apenas valores unicos (distinct()). Grave esse dataframe como parquet “produto”

In [ ]:
# Distinct das colunas e gravar arquivos parquet
df_produto = spark.sql("select distinct des_produto,des_familia,des_secao,des_categoria,des_sub_categoria from vendas_table")
df_produto.write.parquet("/content/produto")

##  Crie um dataframe chamado “venda_mulheres”, selecionando todas as colunas e filtrando apenas vendas realizadas para o sexo “F”, grave esse dataframe no formato json “venda_mulher”.

In [ ]:
# Vendas realizadas para mulheres
vendas_mulheres = df_vendas.where(df_vendas.sexo=="F")
vendas_mulheres.write.format("json").save("venda_mulher")

## Crie um dataframe chamado “venda_unicas”, selecionando todas as colunas e filtrando apenas vendas com a qtd igual 1 e o vlr menor que 10. Grave esse dataframe no formato csv“venda_unica”.

In [ ]:
# Vendas realizadas para mulheres
vendas_unicas = df_vendas.where((df_vendas.qtd==1) & (df_vendas.vlr<10))
vendas_unicas.write.format("csv").save("venda_unica")